@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 10px;
}

@media (min-width: 100px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 10px;
  }
}
